<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Home Bage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css.map" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="admin_parent row m-0 d-flex justify-content-between">
      <!-- ///////////// Dashboard  /////////////// -->
      <div class="admin_child1 d-flex bg-dark col-lg-3 col-12">
        <div class="arrow_parent mt-3 mb-4 d-flex">
          <i class="fas fa-users add_icon mt-2 me-3 mb-4"></i>
          <a href="userData.html"><h2 class="add_users">Users Data</h2></a>
        </div>

        <div class="arrow_parent mt-3 mb-4 d-flex">
          <i class="fas fa-book-open add_icon mt-2 me-3 mb-4"></i>
          <a href="filteration.html"><h2 class="add_data">QCM Data</h2></a>
        </div>

        <div class="arrow_parent mt-3 mb-4 d-flex">
          <i class="fas fa-chalkboard-teacher add_icon mt-2 me-3 mb-4"></i>
          <a href="year.html"><h2 class="add_year">Add Year</h2></a>
        </div>

        <div class="arrow_parent mt-3 mb-4 d-flex">
          <i class="fas fa-layer-group add_icon mt-2 me-3 mb-4"></i>
          <a href="subject.html"><h2 class="add_subject">Add Subject</h2></a>
        </div>

        <div class="arrow_parent mt-3 mb-4 d-flex">
          <i class="fas fa-layer-group add_icon mt-2 me-3 mb-4"></i>
          <a href="chapter.html"><h2 class="add_chapter">Add Chapter</h2></a>
        </div>
      </div>
      <div class="admin_child2 col-lg-9 col-12">
        <h2 class="text-center homeBageText my-5">Home Bage</h2>
      </div>
    </div>

    <script src="js/all.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap.bundle.min.js.map"></script>
  </body>
</html>
